#cover {
    width: 100%;
    height: 60%;
    display: line;
}

#cover img {
    width: 12%;
    height: 60%;
    margin-left:5%;
}

#first_link img {
    width: 100%;
    height: 100%;
    margin-left:5%;
}


#first_link {
    width: 30.2%;
    height: 60%;
    top: 0px;
    margin-left: 2.3%;
    background-color: 
}

#second_link {
    width: 22.4%;
    height: 29.4%;
    top: 0px;
}

#second_link img {
    width: 100%;
    height: 100%;
}


#third_link {
    width: 22.4%;
    height: 30.7%;
    top: 196px;
    right: 908px;

}

#third_link img {
    width: 100%;
    height: 100%;
}

#fourth_link {
    width: 22.3%;
    height: 29.4%;
    top: 0px;
    right: 166px;
}

#fourth_link img {
    width: 100%;
    height: 100%;
}

#fifth_link {
    width: 22.3%;
    height: 30.7%;
    top: 196px;
    right: 166px;
}

#fifth_link img {
    width: 100%;
    height: 100%;
}

#nav_tool {
    width: 100%;
    height: 14.4%;
}

#heading {
    width: 100%;
    height: 14.4%;
}


li {
    list-style: none;
    width: 10%;
    float: left;
    margin-left: 2%;
}

ul {
    width: 90%;
    margin: auto;
}
