#cover {
    width: 100%;
    height: 60%;
    display: line;
}

#cover img {
    width: 12%;
    height: 60%;
    margin-left:5%;
    float: left;
}

#link {
    width:75.8%;
    height: 60%;
    float: left;
}

#first_link {
    width: 30.2%;
    height: 60%;
    top: 0%;
    margin-left: 2.3%;
    float: left;
}

#first_link img {
    width: 100%;
    height: 100%;
    margin-left:5%;
}

#second_link {
    width: 22.4%;
    height: 30%;
    top: 0%;
    left: 32.5%;
    float: left;
}

#second_link img {
    width: 100%;
    height: 100%;
}


#third_link {
    width: 22.4%;
    height: 30%;
    top: 30%;
    left: 32.5%;
    float: left;
}

#third_link img {
    width: 100%;
    height: 100%;
}

#fourth_link {
    width: 22.4%;
    height: 30%;
    top: 0%;
    right: 166px;
    float: left;
}

#fourth_link img {
    width: 100%;
    height: 100%;
}

#fifth_link {
    width: 22.4%;
    height: 30%;
    top: 30%;
    right: 166px;
    float: left;
}

#fifth_link img {
    width: 100%;
    height: 100%;
}

#nav_tool {
    width: 100%;
    height: 14.4%;
}

#heading {
    width: 100%;
    height: 14.4%;
}


li {
    list-style: none;
    width: 10%;
    float: left;
    margin-left: 2%;
}

ul {
    width: 90%;
    margin: auto;
}




